# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

1.Describe the components of a Data Scientist's toolkit and list various tool categories.

2.List examples of open-source tools used in data science.

3.Describe the relevant features of open-source tools.ls.

Some of the popular languages that Data Scientists use are:

-Paython

-R

-MySQL

Some of the commonly used libraries used by Data Scientists include:
-NumPy

-Pandas

-SciPy

|Data Science Tools|
|-----------------|
|Pandas|
|Hadoop|
|Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

5  a number is an arithmetic expressio

(3 + 4)  The  sum of numbers is an arithmetic expression

2^3  this is an abbreviation for the arithymetic expression ((22)2)

In [3]:
# This a simple arithmetic expression to mutiply then add integers
x=(3*4)+5
print(x)

17

In [22]:
# This will convert 200 minutes to hours by diving by 60

y=200/60

a=print(y, "Hours")

3.3333333333333335 Hours

## Author
ABDUL RAHEEM KHAN